<h1>Accounts Page</h1>
<div [style.visibility]="visibility">
    <h3>Current User: </h3>
        <ul>
            <li>
                <h3>Username: {{userobj.username}}</h3>
            </li>
            <li>
                <h3>Email: {{userobj.email}}</h3>
            </li>
            <li>
                <h3>Role: {{userobj.role}}</h3>
            </li>
        </ul>
    <form>
        <h4>Add User:</h4>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addUserObj.username" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" [(ngModel)]="addUserObj.email" name="email" id="email" class="form-control" />
            <label class="form-label" for="email">Email address</label>
        </div>
        
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="addUser()">Add User</button>
    </form>
    <form>
        <h4>Remove User:</h4>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addUserObj.username" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="removeUser()">Remove User</button>
    </form>
    <form>
        <h4>Add Group:</h4>
        <!-- Group name input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.groupName" name="groupName" id="groupName" class="form-control" />
            <label class="form-label" for="username">Group Name</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="addGroup()">Add Group</button>
    </form>
    <form>
        <h4>Add User To Group:</h4>
        <!-- Group name input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.groupName" name="groupName" id="groupName" class="form-control" />
            <label class="form-label" for="username">Group Name</label>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.userName" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="addUserToGroup()">Add User to Group</button>
    </form>
    <form>
        <h4>Add Channel To Group:</h4>
        <!-- Group name input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.groupName" name="groupName" id="groupName" class="form-control" />
            <label class="form-label" for="username">Group Name</label>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.channel" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Channel</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="addChannelToGroup()">Add Channel</button>
    </form>
    <form>
        <h4>Remove Group:</h4>
        <!-- Group name input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.groupName" name="groupName" id="groupName" class="form-control" />
            <label class="form-label" for="username">Group Name</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="removeGroup()">Remove Group</button>
    </form>
    <form>
        <h4>Remove User From Group:</h4>
        <!-- Group name input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.groupName" name="groupName" id="groupName" class="form-control" />
            <label class="form-label" for="username">Group Name</label>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.userName" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Username</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="removeUserFromGroup()">Remove User from Group</button>
    </form>
    <form>
        <h4>Remove Channel From Group:</h4>
        <!-- Group name input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.groupName" name="groupName" id="groupName" class="form-control" />
            <label class="form-label" for="username">Group Name</label>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="addGroupObj.channel" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Channel</label>
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="removeChannelFromGroup()">Remove Channel</button>
    </form>
    
</div>

